<html>
  <head>
    <title>Event Propagator Configuration</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResourcesForContext("com.dataember.stash.plugin.event.propagator.admin")
  </head>
  <body>
    <form id="admin" class="aui">
      <div class="field-group">
        <label for="servers">Servers:</label>
        <input type="text" id="servers" name="servers" class="text">
       </div>
       <div class="field-group">
         <input type="submit" value="Save" class="button">
       </div>
    </form>
  </body>
</html>